@{
    List<Empleado> favoritos =
            memoryCache.Get<List<Empleado>>("FAVORITOS");
}

@{
    ViewData["Title"] = "EmpleadosFavoritos";
}

<h1 style="color:fuchsia">Empleados Favoritos</h1>
<img src="~/images/love.png" style="width: 100px; height: 100px" />

<p>
    <a asp-controller="Empleados" asp-action="SessionEmpleadosV5">
        Volver a almacenar empleados V5
    </a>
</p>

@if (favoritos == null){
    <h2 style="color:red">
        No existen Empleados favoritos
    </h2>
}else{
    <table class="table table-bordered table-danger">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Oficio</th>
                <th>Salario</th>
                <th>Departamento</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado emp in favoritos)
            {
                <tr>
                    <td>@emp.Apellido</td>
                    <td>@emp.Oficio</td>
                    <td>@emp.Salario</td>
                    <td>@emp.IdDepartamento</td>
                    <td>
                        <a asp-controller="Empleados"
                            asp-action="EmpleadosFavoritos"
                            asp-route-ideliminar="@emp.IdEmpleado">
                            <img src="~/images/trash.png" style="width: 45px; height: 45px" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

